---
import { META_COMMON, SITE } from '@constants/index';
import '@styles/global.scss';

const { meta, bodyClass } = Astro.props;

const isHome = Astro.url.pathname === '/';
const canonicalURL: string = new URL(Astro.url.pathname, SITE.ROOT).toString();
const metaTitle: string = isHome ? META_COMMON.title : meta.title;
const metaDescription: string = meta.description
  ? meta.description
  : META_COMMON.description;
const ogType = isHome ? 'website' : 'article';
const commonOgImage = `${SITE.ROOT}images/ogp.jpg`;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <title>{ metaTitle }</title>
    <link rel="canonical" href={ canonicalURL } />
    <meta content={ metaDescription } name="description" />
    <meta property="og:url" content={ canonicalURL } />
    <meta property="og:title" content={ metaTitle } />
    <meta property="og:description" content={ metaDescription } />
    <meta property="og:image" content={ commonOgImage } />
    <meta property="og:type" content={ ogType }>
    <link rel="icon" href={`${SITE.BASE}/favicon.svg`}>
  </head>
  <body class={`page-${bodyClass}`}>
    <slot />
  </body>
</html>
